<a id="achievements"></a>
<%= react_component "AchievementList", achievements: @achievements %>

<!--
      <section>
        <h3><span>Some Achievements This Year</span></h3>
        <ul class="achievements">
          <li>
            <p>02 November 2015</p>
            <p>Lauched this website built with Rails <a href="http://jcfausto.com/" target="_blank">jcfausto.com</a></p>
          </li>
          <li>
            <p>20 September 2015</p>
            <p>Scored 7.0 at IELTs</p>
          </li>
          <li>
            <p>1 July 2015</p>
            <p>Launched an iPhone app for book readers called <a href="http://manypagesapp.com/" target="_blank">ManyPagesApp</a></p>
          </li>
          <li>
            <p>2 February 2015</p>
            <p>Certified as <a href="https://www.scaledagileframework.com/" target="_blank">SAFe Agilist (SA)</a></p>
          </li>
        </ul>
      </section-->

