
      <a name="blog" id="blog"></a>
      <section class="inverted">
        <h3><span>Recent Blog Posts</span></h3>
        <ul class="posts">
          <li>
            <p>24 June 2015 on iOS Development</p>
            <p><a href="http://jcfausto.com/manypages-how-i-built-my-first-iphone-app/">ManyPages – How I Built My First iPhone App</a></p>
          </li>
          <li>
            <p>10 March 2015 on Mobile Desing, Photoshop, UI</p>
            <p><a href="http://jcfausto.com/my-health-app-ios-8-mobile-user-interface-design/">My Health App – iOS 8 Mobile User Interface Design</a></p>
          </li>
          <li>
            <p>4 March 2015 on Mobile Design, Photoshop, UI</p>
            <p><a href="http://jcfausto.com/recreating-the-udemy-mobile-ux-while-learning-photoshop-and-ux-prototyping/">Recreating The Udemy Mobile UI While Learning Photoshop and UI Prototyping</a></p>
          </li>
        </ul>
      </section>

