 <a name="portfolio" id="portfolio"></a>
      <section class="inverted">
        <h3><span>Portfolio</span></h3>
        <div class="row">
          <div class="item"><a href="#"><%= image_tag("portfolio-1.jpg", size: "400x250") %></a>
            <footer><span><a href="#">jcfausto.com</a></span>
            </footer>
          </div>
          <div class="item"><a href="#"><%= image_tag("portfolio-2.jpg", size: "400x250") %><</a>
            <footer><span><a href="#">jcfausto.com</a></span>
            </footer>
          </div>
        </div>
        <div class="row">
          <div class="item"><a href="#"><%= image_tag("portfolio-3.jpg", size: "400x250") %><</a>
            <footer><span><a href="#">jcfausto.com</a></span>
            </footer>
          </div>
          <div class="item"><a href="#"><%= image_tag("portfolio-4.jpg", size: "400x250") %><</a>
            <footer><span><a href="#">jcfausto.com</a></span>
            </footer>
          </div>
        </div>
        <p class="more-portfolio">See more code on <a href="https://github.com/jcfausto">GitHub</a> and some designs on <a href="https://www.behance.net/jcfausto">Bēhance</a>.</p>
      </section>
