<a name="skills" id="skills"></a>
<%= react_component "SkillList", skill_items: @skills %>

<!--
<a name="skills" id="skills"></a>
      <section>
        <h3><span>Skills</span></h3>
        <ul class="skills">
          <li>
            <p><span>WEB</span><span>HTML, CSS, SASS<br>jQuery, React<br>HTML, Wordpress</span></p>
          </li>
          <li>
            <p><span>BACKEND</span><span>Ruby, Java, <br>Rails, Python</span></p>
          </li>
          <li>
            <p><span>MOBILE &amp; DESKTOP</span><span>iOS, Android, Delphi</span></p>
          </li>
          <li>
            <p><span>DESIGN</span><span>Adobe Photoshop</span></p>
          </li>
          <li>
            <p><span>OTHERS</span><span>Vagrant, Relational Databases,<br>Testing, Agile Development at Scale,<br> Team Building, Project Management<br>Gulp, Bower</span></p>
          </li>
          <li>
            <p><span>STILL LEARNING</span><span>iOS/Mac Dev, UX/UI Design<br>Full-Stack Web Development</span></p>
          </li>
          <li>
            <p><span>WHAT I USE</span><span>MacVim, SublimeText3, Android Studio<br>iTerm 2 with Zsh, Photoshop CC 2015, OS X, Windows</span></p>
          </li>
        </ul>
      </section-->
 
