<nav class="fixed-nav-bar">
  <!-- Fixed navigation bar content -->
</nav>
        
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-12">
    <%= react_component "PostList", posts: @posts %>
  </div>
</div>

